*{
    margin: 0;
    padding: 0
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* background-color: #ffe6ec; */

}

.main {
flex: 1;
}

a {
    cursor: pointer;
}

.website-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.logo {
    max-width: 450px;;
}

.instagram_icon {
    max-width: 55px;
}

@font-face {
    font-family: 'proxima-nova';
    src: url(/fonts/proximanova-boldit.c1d4c97951e32318f17eb.8b3152c6c9206724eb3def0f6c795c2.woff2) format('woff2');
}

.maintenance-message {
    font-family: 'proxima-nova';
    font-size: 4vh;
    padding: 30px;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .logo {
        max-height: 300px;
    }
    .maintenance-message {
        font-size: 3vh;
    }
}
